@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 10px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(30, 44, 63, 0.95); 
}

::-webkit-scrollbar-thumb {
  background: #E3EAF5; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1a2742; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #E3EAF5;
  background: radial-gradient(circle at top, #1a2742 0%, #0E1626 70%, #000000 100%);
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
}

/* Subtle stars */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 4px 4px;
  opacity: 0.01;
  pointer-events: none;
  z-index: -1;
}

/* Sidebar Styling */
nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(43, 62, 80, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
}

#high-score {
  padding: 20px;
  text-align: center;
}

/* App container styling */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

/* Card container and card */
.task-card-container {
  background-color: rgba(43, 62, 80, 0.7);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.task-card-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #E3EAF5;
}

/* Task card styling */
.task-card-1 {
  min-height: 400px;
  background-color: rgb(75, 101, 135, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Buttons */
button {
  background-color: transparent;
  color: #E3EAF5;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background-color: transparent;
  transform: scale(1.3);
}

button img {
  width: 30px;
  height: 30px;
}

/* Task pool popup */
.task-pool-container, .settings {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 100%;
  height: 80%;
  max-width: 1000px;
  max-height: 800px;
  transform: translate(-50%, -50%);
  background-color: rgba(30, 44, 63, 0.95);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: #E3EAF5;
  display: none;
  overflow: hidden;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.task-pool-container h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.task-entry-section label {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
}

.task-entry-section input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background-color: #233649;
  color: #E3EAF5;
}

.task-entry {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-task-button {
  width: 100%;
  margin-top: 10px;
}

#task-pool {
  width: 50%;
  padding: 10px;
}

/* Settings Styling */
.settings input {
  width: 30%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background-color: #233649;
  color: #E3EAF5;
}

.settings-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Starry night vibes */
.hidden {
  display: none;
}

ul#task-pool {
  list-style: none;
  padding: 5px;
  overflow-y: scroll;
}

ul#task-pool li {
  background-color: #4B6587;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  color: #E3EAF5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
